# 忽略本地虚拟环境
.venv
.idea

# 忽略用于放过时文件的文件夹
archive/

# 忽略运行时数据
data_runtime/

# 忽略外部数据 (强制通过脚本下载)
data_external/
!data_external/.gitkeep

# 忽略用户具体持仓，保留模板
*.csv
!holdings_template.csv

# 其他
.env
__pycache__/
*.pyc

# 忽略项目内容记录文件
PROJECT CONTEXT AND ROADMAP.md
